:root {
    --gray: #b0acb0;
    --white: #e2dddf;
    --cyan: #84ebd9;
    --blueGreen: #3d898d;
    --black: #2f404d;
}

body {
    background-color: var(--black);
}

.container {
    text-align: center;
    width: 80%;
    height: 100%;
}
a {
    padding: 15px;
    text-decoration: none;
    color: var(--cyan);
    border: var(--white) 2px solid;
    display: inline-block;
    margin: 15px;
    background-color: var(--blueGreen);
    border-radius: 5px;
}